{% extends "AppEdukate/form_courses.html" %}

{% block successful_creation %}
    <h3 style="color: white;">Course Created Successfully!</h3>
    <p style="color: white;">Please wait!! Redirect in <span id="countdown">5</span> seconds...</p>

    <script>
        var countdownEl = document.getElementById('countdown');
        var countdown = 5;
        var countdownInterval = setInterval(function() {
            countdown--;
            countdownEl.textContent = countdown;
            if (countdown === 0) {
                clearInterval(countdownInterval);
                window.location.href = "{% url 'AppEdukateIndex' %}";
            }
        }, 1000); // tiempo en milisegundos (1000 = 1 segundo)
    </script>
{% endblock %}
