{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Search</title>#}
{#    <style>#}
{#        label {#}
{#            display: inline-block;#}
{#            width: 60px;#}
{#            float: left;#}
{#            height: 20px;#}
{#        }#}
{#        input[type="text"], input[type="number"] {#}
{#            display: inline-block;#}
{#            width: 10%;#}
{#            text-align: left;#}
{#            padding-right: 10px;#}
{#            margin-bottom: 10px;#}
{#            line-height: 10px;#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#    <form action="{% url 'AppEdukateSearch' %}" method="GET">#}
{#        <label for="name">Courses:</label>#}
{#        <input type="text" name="name" id="name">#}
{#        <br><label for="commission">Commission:</label>#}
{#        <input type="number" name="commission" id="commission">#}
{#        <br><input type="submit" value="Search">#}
{#    </form>#}
{#</body>#}
{#</html>#}
